# Create non-root user: {{ params.username }}
{% if base_os == "alpine" %}
RUN adduser -D -s {{ params.shell }} {{ params.username }} \
    && echo "{{ params.username }} ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers
{% else %}
RUN useradd -m -s {{ params.shell }} -G sudo {{ params.username }} \
    && echo "{{ params.username }} ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers.d/{{ params.username }} \
    && chmod 0440 /etc/sudoers.d/{{ params.username }}
{% endif %}
