# Git
{% if base_os == "alpine" %}
RUN apk add --no-cache git openssh-client
{% else %}
RUN apt-get update && apt-get install -y --no-install-recommends \
    git \
    openssh-client \
    && apt-get clean && rm -rf /var/lib/apt/lists/*
{% endif %}
